body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}

#display {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #333;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #77d7da 3px solid;
}

header nav ul {
    padding: 0;
    list-style: none;
    text-align: center;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

#images img {
    display: block;
    margin: 20px auto;
    max-width: 80%;
    height: auto;
}

#images img[alt*="Certificate"] {
    border: 2px solid #333;
    padding: 5px;
}
a :hover{
    color: aqua;
}
